@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  background-image: radial-gradient(white, purple);
}

@media screen and (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
  }
}
